@charset "utf-8";
/* CSS Document */

p {
    text-align: center;
    color: red;
  }


.about-how {
	text-align: center;
	color: red;
	
	
}

h2 {
	text-align: center;
	color: black;
	
	
}

#leftheader{

	color: red;
}



input, label{
	display:block;
	margin: auto;
	padding: 5px;
	
}


input {
	
	
	

}



.form{
	margin: auto;
	width: 500px;
	
}


.container{
	overflow: auto;
	width: 100%;
	border: 1px solid;
	position: relative;
	
}


footer
{
	
	position: absolute;
    bottom: 0;
	
}